@model ITBaza.Models.Resource

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resource</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainLocation" class="control-label"></label>
                <input asp-for="MainLocation" class="form-control" />
                <span asp-validation-for="MainLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltLocation" class="control-label"></label>
                <input asp-for="AltLocation" class="form-control" />
                <span asp-validation-for="AltLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsiblePersonId" class="control-label"></label>
                <select asp-for="ResponsiblePersonId" class ="form-control" asp-items="ViewBag.ResponsiblePersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResourceTypeId" class="control-label"></label>
                <select asp-for="ResourceTypeId" class ="form-control" asp-items="ViewBag.ResourceTypeId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
