@{
    ViewData["Title"] = "Адміністрування";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <partial name="_AdminSideBar" />
        </div>
        <div class="col-md-9">
            <h1>Адміністрування</h1>
        </div>
    </div>
</div>

